# Maven target
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Preservar o Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

# IDEs e Editores
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log
logs/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de Ambiente (Segurança)
application-local.yml
application-dev.yml
application-prod.yml
*.env

# Pacotes de Build (ignorando todos os JARs, exceto o wrapper)
*.jar
*.war
*.ear